<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" type="text/css" href="{% static 'article/app.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>


    <script src="{% static 'article/jquery-3.3.1.js' %}"></script>

    <script type="text/javascript" src="{% static 'article/index.js' %}"> </script>

<title>Welcome</title>
</head>
<body>
    <div id="wrapper" class="App">
    <header class="App-header">
        <h1 class="App-title">Welcome to the Article Enhancer</h1>
    </header>
        <br>

    <h4 style="font-weight: bold">Our tool offers a reference searching engine, which is built to use the highlighted content<br> of your choice in your article,
        and providing you with suggestive references finely filtered.
         <!--This tool will help you to gather supporting tweets and/or references for your article, providing-->
         <!--you with a better supported article.-->
    </h4><br>
    <h5 class="App-intro">
            Start by writing your article or place your article on the text area below by copy/pasting it.
    </h5>

    <div id="c1" class="column-left">

    </div>
    <div id="c2" class="column middle">
        <textarea name="styled-textarea" id="styled" ></textarea>
        <br><br><br>
    </div>
    <div id="c3" class="column right" style="align-items: end">
        <h5>  Press submit when the your article is present in the text area above, to go the following step.</h5>
        <button class="button" id="b-submit" title="Click to go to to next page">Submit</button>
        <br><br> </div>
        <br><br><br>
    </div>
</div>

</body>
</html>