<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">

    <link rel="stylesheet" type="text/css" href="{% static 'article/app.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>

    <!--<script>{% for answer in answer %}-->

    <!--var d = $('#preview');-->
      <!--var d = $('#preview');-->
      <!--$("#high");-->
     <!--// for (var i = 0; i < ("tweet"+[i+1]); i++) {-->
          <!--d.html(d.html().replace("[tweet 1]", twe));-->
          <!--d.html(d.html().replace("[tweet 2]", "<blockquote class=\"twitter-tweet\"><p lang=\"en\" dir=\"ltr\">Stay safe. Love one another. Life is hard for everyone, so spread peace and happiness.\n" +-->
              <!--"                <a href=\"https://twitter.com/hashtag/tweetlove?src=hash&amp;ref_src=twsrc%5Etfw\">#tweetlove</a></p>&mdash; Tweeter (@tweeter)\n" +-->
              <!--"                <a href=\"https://twitter.com/tweeter/status/489879052157595649?ref_src=twsrc%5Etfw\">July 17, 2014</a>\n" +-->
              <!--"            </blockquote> <script async src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\">"));%}-->
        <!--{% endfor %}-->
<!--</script>-->
    <title>Preview Page</title>
</head>
<body>
<div id="wrapper" class="App">
    <header class="App-header">
        <h1 class="App-title">Preview</h1>
    </header>
    <br>
    <p class="App-intro">
       A preview of your article with the content you added.
    </p>


    <br>
    <div id="p1" class="column-left">

    </div>
    <div id="preview" class="ta">
        <!--<textarea name="styled-textarea" id="styled" ></textarea>-->
        <pre></pre>
        <br><br><br>
    </div>
    <div id="p3" class="column right" style="align-items: end">
        <h5> </h5>
        <button class="button" id="b-save" title="Export your article in an html format.">Export</button>
        <br><br> </div>
    <br><br><br>
</div>
</div>

</body>
<script src="{% static 'article/jquery-3.3.1.js' %}"></script>

<script type="text/javascript" src="{% static 'article/review.js' %}"> </script>
<script type="text/javascript" src="{% static 'article/preview.js' %}"> </script>
</html>