<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" type="text/css" href="{% static 'article/app.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>

    <!-- Main TinyMCE library -->



    <title>Review Page</title>
</head>

<body>
<div id="wrapper" class="App">
    <header class="App-header">
        <h1 class="App-title">Review Your Article</h1>
    </header>
    <h4 style="font-weight: bold;">Choose the tweets or references that you want to add by clicking where you want to add them in the text
        and then check the respective checkboxes</h4><br>
    <div id="big" style="height:400px;align-content: center; margin: auto;">

        <br>
        <div id="r1" >
            <div id="tweets">
               <h4 style="font-weight: bold;">References supporting your statements: </h4><br>

                <div id="highlight1">
                    {% for answers in answers %}
                        <p>{{ answers.result | safe }}</p>
                        <label>Reference {{ forloop.counter }} </label> <input type="checkbox" name="checkbox" value="{{ answers.result }}">
                    <p></p>
                    {% empty %}
                        <p>No results yet</p>
                    {% endfor %}
                </div>

            </div>
        </div>

        <div id="review" class="review" >
            <textarea id="textReview" ></textarea>

                    <br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
            <button class="button" id="b-preview" title="See how your article looks with the added content">Preview </button>
            </div>


    </div>
    <div id="r3" style="align-items: end; ">        <br><br> </div>
</div>


</body>
<script src="{% static 'article/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'article/submit.js' %}" ></script>
<script type="text/javascript" src="{% static 'article/review.js' %}" ></script>
<script type="text/javascript" src="{% static 'article/preview.js' %}" ></script>



</html>
