<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" type="text/css" href="{% static 'article/app.css' %}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>



    <title>Submit Page</title>
</head>
<body>
<div id="wrapper" class="App">
    <header class="App-header">
        <h1 class="App-title">Review Your Submission</h1>
    </header>
    <br>
    <h4 style="font-weight: bold">Highlight the essentials of your article before submitting!</h4><br>
    <h5 style="font-weight: bold">You should highlight as many key sentences needed to encapsulate the main ideas you want to support on your article.</h5>
    <br>

    <div id="d1" class="d1" ></div>

    <div id="ta" class="ta" >
    <pre></pre>
    </div>

    <button class="button" id="highlight" title="Highlight and show the selected text in a table">Highlight</button>
    <button class="button" id="clearHighlights" title="Clear highlights and table">Clear</button>

    <br><br><br>
    <div id="guideline" style="display: none">
        <h5> Under Tweets and Articles columns of the table put the <br>desired number you want to receive for each respectively.</h5>
        <h5> Limitations for now allow 3 tweets and 10 references maximum</h5>
    </div><br>
    <div id="table-div" style="width: 400px; margin: auto; min-height: 100px;  display: none" >


    </div>
    <button id="send" class="button" style=" width: 200px;display: none ">Send to crowdsourcing</button>
    <div id="d2" class="d2">
    </div>



</div>


</body>
<script src="{% static "article/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static 'article/index.js' %}"></script>
<script type="text/javascript" src="{% static 'article/submit.js' %}"></script>
<script type="text/javascript" src="{% static 'article/review.js' %}"></script>
</html>
