body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 2.5em;
}

.App-intro {
    font-size: large;
}

textarea#styled{
    min-height: 350px;
    min-width: 800px;
    resize: none;
    padding: 9px;
    boxSizing: border-box;
    fontSize: 15px;

}
.button {
    background-color: #000000;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div#ta{
    min-height: 350px;
    width: 800px;
    padding: 9px;
    margin: auto;
    boxSizing: border-box;
    fontSize: 15px;
    text-align: left;
}
div#d1 {
    width: 25%;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}
div#d2 {
    width: 25%;
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.selectedText{
   background: #FFFF00;
}

table.myTable {

    position: relative;
    text-align: center;


}
div#c1, #c3 {
    width: 25%;
    margin: auto;
}
div#r1{
    min-height: 300px;
    min-width: 300px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-width: 1px;
    padding: 29px;
    right:100%;
    text-align: center;
    font-size: 15px;
    overflow: scroll;


}
textarea#textReview{
    min-height: 300px;
    /*width: 650px;*/
    float: left;
    margin: auto;
    width: 44%;
    border-width: 2px;
    border-color: #0077aa;
    border-style: dotted;
    padding: 9px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
    resize: none;
 }

div#r3{
    padding: 9px;
    width:300px;
    height:300px;
    right:25%;
    left:50%;
    margin-left:-150px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.highlightTable {

    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    border-collapse: collapse;
    border-spacing: 0;
    border-spacing: 0;

}
td, th {
    border: 1px dashed seagreen;
    height: 30px;

} /* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */

}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

button#send{
    margin:auto;
    display:block;
}
div#preview{
    min-height: 350px;
    width: 800px;
    padding: 9px;
    margin: auto;
    boxSizing: border-box;
    fontSize: 15px;
    text-align: left;
}
